body {
  margin: 0%;
}

header { 
  #logo{
    width: 200px;
    display: flex;
    margin: auto;
    background-color: #78174a;
    color: #cbc1c2;
    text-align: center;
  }

  #upLineLogo{
    font-size: 32px;
    font-weight: 200;
  }
  
  #underLineLogo{
    font-size: 16px;
  }
}

